export default `
<div class="app">
    {{{ Header }}}
    <main id="main-box">
        <div class="main-box_right">
            {{{ NavLine1 }}}
            <div class="chats_content">
                {{{ InputSearch }}}
                <div class="content_box">
                    {{{ ChatsList }}}
                </div>
            </div>
        </div>
        <div class="main-box_left">
            {{{ NavLine2 }}}
            <div class="chats_content">
                {{{ Chat }}}
            </div>
            {{{ Form }}}
        </div>
    </main>
</div>
`
